<h1>Contribute!</h1>
  
<h2>Designer</h2>

<a href="http://discuss.braddickason.com" target="_blank">Tell us what you want to change. We'll take a look and figure out how you can contribute!</a>

<h2>Developer</h2>

<a href="http://github.com/bdickason/shots" target="_blank">Check us out on Github.</a>
