<div class="view">
    <h1>{{ id }}</h1>

    <label><h3>What are you working on?</h3></label>
    <input id="text" type="textarea" class"input" placeholder="My latest work" autofocus>
    <button class="save">save</button>

    <ul class="shots">
    </ul>
</div>