  <div class="view">
    <label><h3>Create a Project</h3></label>
    <input id="name" type="textarea" class"input" placeholder="" autofocus>
    <button id="createProject" class="save">save</button>
    <label id="projectsError" class="error"></label>
    <ul class="projects">
    </ul>
  </div> 