/* Base CSS file  - compiles all imports below into screen.css */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Custom Partials */
/* Variables Partial  - contains colors, fonts, etc. */
/* Text Colors */
/* Link Colors */
/* Background Colors */
/* Core App styles */
/* All Image-related styles */
/* line 4, ../../../app/sass/_images.scss */
img.shot {
  width: 40%;
  cursor: -webkit-zoom-in;
}
/* line 8, ../../../app/sass/_images.scss */
img.shot.big {
  width: 80%;
  cursor: -webkit-zoom-out;
}

/* Comment Styles */
/* line 3, ../../../app/sass/_comments.scss */
.comments {
  width: 50%;
}

/* line 9, ../../../app/sass/_comments.scss */
.comment p #saveComment {
  /* Save button is hidden until editing is enabled */
  display: none;
}
/* line 14, ../../../app/sass/_comments.scss */
.comment p #cancelCommentEdit {
  /* Cancel button is hidden until editing is enabled */
  display: none;
}

/* line 20, ../../../app/sass/_comments.scss */
[contenteditable="true"] {
  background: yellow;
}

/* Shots Styles */
/* line 3, ../../../app/sass/_shots.scss */
.comments {
  width: 50%;
}

/* line 8, ../../../app/sass/_shots.scss */
#shotsError {
  display: none;
}

/* line 13, ../../../app/sass/_shots.scss */
.shot p #saveShot {
  /* Save button is hidden until editing is enabled */
  display: none;
}
/* line 18, ../../../app/sass/_shots.scss */
.shot p #cancelShotEdit {
  /* Cancel button is hidden until editing is enabled */
  display: none;
}

/* line 24, ../../../app/sass/_shots.scss */
[contenteditable="true"] {
  background: yellow;
}

/* Base UI styling */
/* line 3, ../../../app/sass/_base.scss */
#nav {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 964px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../../../app/sass/_base.scss */
#main {
  padding: 25px;
}

/* line 14, ../../../app/sass/_base.scss */
#username {
  float: right;
  padding-right: 15px;
}

/* line 18, ../../../app/sass/_base.scss */
#logout {
  float: right;
}
