/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Custom Partials */
/* Core App styles */
/* All Image-related styles */
/* line 4, ../../../app/sass/partials/_images.scss */
img#shotImage {
  width: 100%;
  padding: 20px 0;
  cursor: -webkit-zoom-in;
}
/* line 9, ../../../app/sass/partials/_images.scss */
img#shotImage.big {
  width: 80%;
  cursor: -webkit-zoom-out;
}

/* Comment Styles */
/* line 3, ../../../app/sass/partials/_comments.scss */
.comments {
  width: 100%;
}

/* line 9, ../../../app/sass/partials/_comments.scss */
.comment p #saveComment {
  /* Save button is hidden until editing is enabled */
  display: none;
}
/* line 14, ../../../app/sass/partials/_comments.scss */
.comment p #cancelCommentEdit {
  /* Cancel button is hidden until editing is enabled */
  display: none;
}

/* line 20, ../../../app/sass/partials/_comments.scss */
[contenteditable="true"] {
  background: yellow;
}

/* line 24, ../../../app/sass/partials/_comments.scss */
.comment {
  padding: 20px 0;
  border-top: 1px solid #e0e3e5;
}

/* line 28, ../../../app/sass/partials/_comments.scss */
.comment-input {
  width: 99%;
  margin: 0;
  min-height: 60px;
  padding: 5px 0 5px 5px;
  border: 1px solid #bdc3c7;
}

/* line 3, ../../../app/sass/partials/_shots.scss */
.shots {
  float: left;
}

/* line 9, ../../../app/sass/partials/_shots.scss */
.shot {
  max-width: 60%;
  margin: 0 20%;
  float: left;
}
/* line 13, ../../../app/sass/partials/_shots.scss */
.shot p #saveShot {
  /* Save button is hidden until editing is enabled */
  display: none;
}
/* line 18, ../../../app/sass/partials/_shots.scss */
.shot p #cancelShotEdit {
  /* Cancel button is hidden until editing is enabled */
  display: none;
}

/* line 23, ../../../app/sass/partials/_shots.scss */
[contenteditable="true"] {
  background: yellow;
}

/* line 3, ../../../app/sass/partials/_base.scss */
#container {
  float: left;
  width: 100%;
}

/* line 7, ../../../app/sass/partials/_base.scss */
#main {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 964px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../../../app/sass/partials/_base.scss */
#main {
  padding: 25px;
}

/* line 23, ../../../app/sass/partials/_base.scss */
header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #e0e3e5;
}

/* line 27, ../../../app/sass/partials/_base.scss */
#username {
  float: right;
  padding-right: 15px;
}

/* line 31, ../../../app/sass/partials/_base.scss */
#logout {
  float: right;
}

/* line 35, ../../../app/sass/partials/_base.scss */
label {
  float: left;
}

/* line 40, ../../../app/sass/partials/_base.scss */
.error {
  display: none;
}

/* line 69, ../../../app/sass/partials/_base.scss */
button {
  margin: 0;
  padding: 12px 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  background-color: #328caf;
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

/* line 87, ../../../app/sass/partials/_base.scss */
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 95, ../../../app/sass/partials/_base.scss */
.clearfix, .container {
  display: block;
}

/* Regular clearing
   apply to column that should drop below previous ones. */
/* line 100, ../../../app/sass/partials/_base.scss */
.clear {
  clear: both;
  height: 1px;
}

/* line 3, ../../../app/sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
  color: #404040;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0;
  zoom: 1;
}

/* line 12, ../../../app/sass/partials/_typography.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* line 14, ../../../app/sass/partials/_typography.scss */
h1 {
  font-size: 2.2em;
}

/* line 16, ../../../app/sass/partials/_typography.scss */
h2 {
  font-size: 1.8em;
}

/* line 18, ../../../app/sass/partials/_typography.scss */
h3 {
  font-size: 1.5em;
}

/* line 20, ../../../app/sass/partials/_typography.scss */
h4 {
  font-size: 1.4em;
}

/* line 22, ../../../app/sass/partials/_typography.scss */
h5 {
  font-size: 1em;
}

/* line 24, ../../../app/sass/partials/_typography.scss */
h6 {
  font-size: 0.9em;
}
