/* Core App styles */

// Header Styles //

header {
	background-color: #333;
	background-color: rgba(47,47,47, .98);
}

#primary {
	padding: 20px 40px;
	min-width: 600px;
	a {
		color: #f5f7f8;
		text-decoration: none;
		padding-right: 30px;
		&:hover {
			color: #7DDCD4;
			cursor: pointer;
			text-decoration: none;
		}
		&:last-child {
			padding-right:0;
			float:right;
		}
	}
}
#login {
	float: right;
}

// Tyopography //

h1 {
	font-weight: bold;
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.1em;
}


// User Card Styles //

.user div > img {
	height: 28px;
	width: 28px;
	

}