/* Base UI styling */

//////////////////////////////////////////////
// Tyopography //
//////////////////////////////////////////////
h1 {
  font-weight: bold;
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}


// Global style for any time a piece of content becomes editable
[contenteditable="true"] {
  background: yellow;
}

//////////////////////////////////////////////
// CLEARING OF ANY ELEMENT 
//////////////////////////////////////////////

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix, .container { display: block; }

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear: both; height: 1px; }


//////////////////////////////////////////////
// VERTICAL ALIGNMENT OF ANY ELEMENT 
//////////////////////////////////////////////

@mixin align-vert {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


//////////////////////////////////////////////
// CSS Arrows
//////////////////////////////////////////////
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-bottom: 4px solid $text-light;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-top: 4px solid $text-light;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 64px solid transparent;
  
  border-left: 4px solid $text-light;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent; 
  
  border-right :4px solid $text-light; 
}