/* Base UI styling */
body {
  font-family: 'Open Sans', Helvetica Neue,  sans-serif;
  font-size: 14px;
}
#content {
  float: left;
  > div {
    float:left;
  }
}
#nav {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 964px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}
#main {
	padding: 25px;
}
#username {
	float:right;
	padding-right: 15px;
}
#logout {
	float:right;
}
// Error messages should not be shown by default
.error {
  display: none;
}

// Global style for any time a piece of content becomes editable
[contenteditable="true"] {
  background: yellow;
}