/* Comment Styles */

.comments {
  width: 100%;

}

.comment {
  & p #saveComment {
    /* Save button is hidden until editing is enabled */
    display: none;
  }

  & p #cancelCommentEdit {
    /* Cancel button is hidden until editing is enabled */
    display: none;
  }
}

[contenteditable="true"] {
  background: yellow;
}

.comment {
  padding: 20px 0;
  border-top: 1px solid $rule-color;
}
.comment-input {
  width: 99%;
  margin: 0;
  min-height: 60px;
  padding: 5px 0 5px 5px;
  border: 1px solid $rule-color-dark;
}