// ---------- Shots Styles ------------//

.shots {
  float: left;
}

///////     SINGLE-SHOT

.shot {
  max-width:  60%;
  margin: 0 20%;
  float: left;
  & p #saveShot {
    /* Save button is hidden until editing is enabled */
    display: none;
  }

  & p #cancelShotEdit {
    /* Cancel button is hidden until editing is enabled */
    display: none;
  }
}
[contenteditable="true"] {
  background: yellow;
}