// ---------- Shots Styles ------------//


// ------ Single-shot view -------//
.shot {
  max-width:  60%;
  margin: 0 20%;
  float: left;
  & p #saveShot {
    /* Save button is hidden until editing is enabled */
    display: none;
  }

  & p #cancelShotEdit {
    /* Cancel button is hidden until editing is enabled */
    display: none;
  }
}

.comments {
  width: 100%;

}


[contenteditable="true"] {
  background: yellow;
}