  <a href="/" id="home">Home</a> |  
  <a href="http://discuss.braddickason.com" id="discuss">Discuss</a> | 
  <a href="/contribute" id="contribute">Contribute</a> | 
  <a href="/help" id="help">Help Me!</a>

  {{#if username}}
  {{! Check if user is logged in }}
    <a href="#" id="username">@{{username}}</a>
    <a href="/logout" id="logout">Logout</a>
  {{else}}
    <a href="/login" id="login">Login</a>
  {{/if}}
