{{! -- Main Nav Layout-- }}
<div class="main-nav">
  <a href="/" id="logo">Shots.</a>
  <ul>
    <li><a href="http://discuss.braddickason.com" id="discuss">Discuss</a></li>
    <li><a href="/contribute" id="contribute">Contribute</a></li>
    <li><a href="/help" id="help">Help Me!</a></li>
  </ul>

  {{#if username}}
    {{! Check if user is logged in }}
    <div class="user">
      {{! UserShowCard loads here }}
    </div>
    <ul id="user-dropdown" >
      <li><a href="/logout" id="logout">Sign Out</a></li>
    </ul>
    
  {{else}}
    <a href="/login" id="login">Login</a>
  {{/if}}
</div>
{{! -- End Main Nav-- }}
