<h1>Help!</h1>
  
<ul class="help">
  <li>Find us on Twitter: <a href="http://twitter.com/bdickason" target="_blank">@bdickason</a>, <a href="http://twitter.com/trey_mckay" target="_blank">@trey_mckay</a></li>
  <li>Visit our <a href="http://discuss.braddickason.com">Discussion Forum</a></li>
  <li>Visit our Chatroom</li>
</ul>
