  <div class="view">
    <button id="newProject">+ Create New</button>
  	<div id="createSection" class="createSection clearfix">
    		<label><h3>Create a Project</h3></label>
    		<input id="name" type="textarea" class"input" placeholder="Name your project" autofocus>
    		<button id="createProject" class="save">Save</button>
    		<label id="projectsError" class="error"></label>
    </div>
    <h5 class="subtle-headline">all projects</h5>
    <ul class="projects">
      {{! ProjectCard(s) load here }}
    </ul>
  </div> 