/* Base UI styling */

#nav {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 964px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}
#main {
	padding: 25px;
}
#username {
	float:right;
	padding-right: 15px;
}
#logout {
	float:right;
}

// Error messages should not be shown by default
.error {
  display: none;
}