/* Base UI styling */

#main {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 964px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
}
#main {
	padding: 25px;
}
#username {
	float:right;
	padding-right: 15px;
}
#logout {
	float: right;
}

.shot {
  max-width:  60%;
  margin: 0 20%;
  float: left;

}

// Error messages should not be shown by default
.error {
  display: none;
}
