/* Shots Styles */

.comments {
  width: 100%;

}

.shot {
  width: 50%;
  padding-top: 40px;

  & p #saveShot {
    /* Save button is hidden until editing is enabled */
    display: none;
  }

  & p #cancelShotEdit {
    /* Cancel button is hidden until editing is enabled */
    display: none;
  }

  & p .shotCreator {
    float: left;
  }

  & .shotComments {
    float: right;
  }
}

[contenteditable="true"] {
  background: yellow;
}