/* Shots Styles */

.comments {
  width: 50%;

}

.shot {
  & p #saveShot {
    /* Save button is hidden until editing is enabled */
    display: none;
  }

  & p #cancelShotEdit {
    /* Cancel button is hidden until editing is enabled */
    display: none;
  }
}

[contenteditable="true"] {
  background: yellow;
}